.ChatContainer {
  position: fixed;
  z-index: 999;
  overflow: hidden;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 580px;
  width: 375px;
  transition: all 0.25s ease-in-out;
}


/* RESPONSIVE MOBILE-FIRST * / TO-DO: REVISAR reglas innecesarias

/* Large mobile and tablet layout */
@media screen and (min-width: 426px) {
}

@media  (max-width: 600px){
  .ChatContainer{
    width: 100vw;
    height: 100%;
    left:0;
    top:0;
    border-radius: unset;
    box-shadow: none;
  }
}